In [1]:
import pandas as pd
import numpy as np

In [2]:
loan_result = pd.read_csv("./data/loan_result.csv")
log_data = pd.read_csv("./data/log_data.csv")
user_spec = pd.read_csv("./data/user_spec.csv")

### Step 1. Intersenstion Dataset

In [3]:
All_user_id = set(user_spec["user_id"]).intersection(set(log_data["user_id"]))

In [4]:
All_user_id = pd.DataFrame({"user_id" :list(All_user_id)})

In [5]:
user_spec = All_user_id.merge(user_spec)

In [6]:
All_application_id = set(loan_result["application_id"].unique()).intersection(set(user_spec["application_id"].unique()))
All_application_id = pd.DataFrame({"application_id" :list(All_application_id)})

In [7]:
loan_result = loan_result.merge(All_application_id)

In [8]:
print("Independent rows",pd.read_csv("./data/loan_result.csv").shape[0] - loan_result.shape[0]) # 데이터를 merge할 수 없는 행은 48만행 정도

Independent rows 488164

In [9]:
loan_result[loan_result["is_applied"] == 1.0].shape[0] / loan_result.shape[0] # 4% 정도만 대출을 승인받음

0.042154813343979185

### Q1. Loan_limit, loan_rate가 중요한가?

- 대출이 승인되었는지 안되었는지를 예측하기 위해서 loan_limit & roan_rate가 중요한지 고민해보기
- "우선은 중요하지 않다" 라고 가정하고 결측치는 제거
- 대체적으로 is_applied가 1로 나타나는데 이는 label noise인가? 만약 label noise라면 확인할방법은?

In [10]:
loan_result = loan_result[~loan_result['loan_limit'].isnull()]

In [11]:
loan_result = loan_result.fillna(0.0)

### Q2. application_id는 특정 고객이 ploanapply_insert_time 에 대출을 신청한건가?

In [12]:
loan_result[loan_result["application_id"] == 1748340]

,application_id,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied
0,1748340,2022-06-07 13:05:41,7,191,42000000.0,13.6,0.0
1,1748340,2022-06-07 13:05:41,25,169,24000000.0,17.9,0.0
2,1748340,2022-06-07 13:05:41,2,7,24000000.0,18.5,0.0
3,1748340,2022-06-07 13:05:41,4,268,29000000.0,10.8,0.0
4,1748340,2022-06-07 13:05:41,11,118,5000000.0,16.4,0.0
5,1748340,2022-06-07 13:05:40,35,168,21000000.0,15.2,0.0
6,1748340,2022-06-07 13:05:40,44,8,3000000.0,14.8,0.0
7,1748340,2022-06-07 13:05:41,28,217,10000000.0,18.0,0.0
8,1748340,2022-06-07 13:05:46,47,181,31000000.0,13.0,0.0
9,1748340,2022-06-07 13:05:51,11,170,50000000.0,13.3,0.0
10,1748340,2022-06-07 13:05:41,58,175,35000000.0,13.8,0.0
11,1748340,2022-06-07 13:05:51,35,29,5000000.0,11.2,0.0
12,1748340,2022-06-07 13:05:39,59,150,25000000.0,13.4,0.0
13,1748340,2022-06-07 13:05:41,34,248,43000000.0,16.9,0.0
14,1748340,2022-06-07 13:05:40,10,149,18000000.0,13.9,0.0
15,1748340,2022-06-07 13:05:41,63,226,29000000.0,15.6,0.0
16,1748340,2022-06-07 13:05:41,54,235,28000000.0,15.5,0.0
17,1748340,2022-06-07 13:05:40,10,65,23000000.0,13.9,0.0
18,1748340,2022-06-07 13:05:50,49,39,17000000.0,12.6,0.0
19,1748340,2022-06-07 13:05:40,57,71,8000000.0,16.4,0.0
20,1748340,2022-06-07 13:05:40,31,224,38000000.0,12.6,0.0
21,1748340,2022-06-07 13:05:51,52,187,1000000.0,9.9,0.0
22,1748340,2022-06-07 13:05:40,33,110,29000000.0,12.6,0.0
23,1748340,2022-06-07 13:05:41,37,206,18000000.0,16.9,0.0
24,1748340,2022-06-07 13:05:40,42,258,38000000.0,15.1,0.0
25,1748340,2022-06-07 13:05:40,51,247,30000000.0,15.6,0.0
26,1748340,2022-06-07 13:05:40,29,265,20000000.0,8.1,0.0
27,1748340,2022-06-07 13:05:39,19,231,8000000.0,15.8,0.0
28,1748340,2022-06-07 13:05:40,17,19,16000000.0,12.9,0.0
29,1748340,2022-06-07 13:05:41,15,204,8000000.0,19.7,0.0
30,1748340,2022-06-07 13:05:41,36,157,24000000.0,11.8,0.0
31,1748340,2022-06-07 13:05:40,32,56,25000000.0,15.0,0.0
32,1748340,2022-06-07 13:05:41,21,196,3000000.0,18.0,0.0
33,1748340,2022-06-07 13:05:41,7,220,7000000.0,13.6,0.0
34,1748340,2022-06-07 13:05:40,14,197,6000000.0,15.8,0.0

### Step 2. User Spec 확인 및 결측치 추정

### 2-1 결측치 추정

In [13]:
user_spec.isna().sum(0)

user_id                                      0
application_id                               0
birth_year                               12532
gender                                   12532
insert_time                                  0
credit_score                             74719
yearly_income                               90
income_type                                 85
company_enter_month                     164637
employment_type                             85
houseown_type                               85
desired_amount                              85
purpose                                     85
personal_rehabilitation_yn              566342
personal_rehabilitation_complete_yn    1165358
existing_loan_cnt                       164428
existing_loan_amt                       279304
dtype: int64

In [14]:
len(user_spec[user_spec["birth_year"].isnull()]["user_id"].unique())

7875

#### 1.1 Birty_year 결측치 추정
- 3,222명 결측치 추정함
- birty_year_l_wo 데이터 잊지말기 - 추후 이 결측치가 있는 유저들은 어떤특성이 있는지 밝혀야할듯

In [15]:
l_wo = [] # User id, without

for user_id_data in user_spec[user_spec["birth_year"].isnull()]["user_id"].unique():
    if user_spec[user_spec["user_id"] == user_id_data]["birth_year"].dropna().shape[0] == 0:
        l_wo.append(user_id_data)
    else:
        imputation_data = user_spec[user_spec["user_id"] == user_id_data]["birth_year"].dropna().to_numpy()[0]
        user_spec.loc[user_spec[user_spec["user_id"] == user_id_data].index, "birth_year"] = imputation_data

In [16]:
len(user_spec[user_spec["birth_year"].isnull()]["user_id"].unique())

6477

In [17]:
user_spec.isna().sum(0)["birth_year"] # 12532 - 9310

9310

In [18]:
birty_year_l_wo = l_wo

#### 1.2 Gender 결측치 추정
- 3,222명 결측치 추정함

In [19]:
len(user_spec[user_spec["gender"].isnull()]["user_id"].unique())

7875

In [20]:
l_wo = [] # User id, without

for user_id_data in user_spec[user_spec["gender"].isnull()]["user_id"].unique():
    if user_spec[user_spec["user_id"] == user_id_data]["gender"].dropna().shape[0] == 0:
        l_wo.append(user_id_data)
    else:
        imputation_data = user_spec[user_spec["user_id"] == user_id_data]["gender"].dropna().to_numpy()[0]
        user_spec.loc[user_spec[user_spec["user_id"] == user_id_data].index, "gender"] = imputation_data

In [21]:
len(user_spec[user_spec["gender"].isnull()]["user_id"].unique())

6477

In [22]:
user_spec.isna().sum(0)["gender"] # 12532 - 9310

9310

In [23]:
gender_l_wo = l_wo

#### 1.3 정리
- Birty_year과 Gender는 대충승인에 중요한 변수이므로 이 값이 없는 user는 삭제
- Birty_year이 없으면 Gender도 결측치임

In [24]:
len(list(set(birty_year_l_wo).intersection(set(gender_l_wo)))) # Birty_year이 없으면 Gender도 결측치임

6477

In [25]:
user_spec[~user_spec['gender'].isnull()].isna().sum()

user_id                                      0
application_id                               0
birth_year                                   0
gender                                       0
insert_time                                  0
credit_score                             73459
yearly_income                               89
income_type                                 84
company_enter_month                     162262
employment_type                             84
houseown_type                               84
desired_amount                              84
purpose                                     84
personal_rehabilitation_yn              562629
personal_rehabilitation_complete_yn    1157852
existing_loan_cnt                       160134
existing_loan_amt                       274256
dtype: int64

In [26]:
user_spec = user_spec[~user_spec['gender'].isnull()]

### 1.4. credit_score 결측치 추정 !!!!!!!!!주의!!!!!!!!! 이거 돌리는데 오래걸림 내 결과만 보셈

- 여기에서 중요한점은 user_spec과 loan_result간의 관계임.
- user_spec에서 credit score가 결측치인경우 loan result에서 is_applied는 어떤 결과가 있었는지를 확인해야함
- 생각보다 승인받는 사람이 많음. 함부로 결측치 제거하는건 안좋은 판단인듯

In [27]:
user_spec[user_spec["credit_score"].isnull()]["application_id"].unique()

array([1508745, 1304798, 1854180, ...,   77601, 1889786, 1774704])

In [28]:
l = [loan_result[loan_result["application_id"] == application_id_data]["is_applied"].sum() \
     for application_id_data in user_spec[user_spec["credit_score"].isnull()]["application_id"].unique()]

In [34]:
len(l)

73459

### Note that
- credit_score의 결측치는 평균 credit_score로 대체
- 17571 행의 결측치 추정함.
- 이부분 user_spec[user_spec["user_id"] == user_id_data]["credit_score"].dropna().to_numpy().mean() 평균쓰는게 맞는지? 한번확인 필요 (내가해둠)
- 추가적으로 남은 결측치들 어떻게할지 고민좀 해봐야함..

In [37]:
l_wo = [] # User id, without

for user_id_data in user_spec[user_spec["credit_score"].isnull()]["user_id"].unique():
    if user_spec[user_spec["user_id"] == user_id_data]["credit_score"].dropna().shape[0] == 0:
        l_wo.append(user_id_data)
    else:
        imputation_data = user_spec[user_spec["user_id"] == user_id_data]["credit_score"].dropna().to_numpy().mean()
        user_spec.loc[user_spec[user_spec["user_id"] == user_id_data].index, "credit_score"] = imputation_data

In [39]:
user_spec.isna().sum()

user_id                                      0
application_id                               0
birth_year                                   0
gender                                       0
insert_time                                  0
credit_score                             55888
yearly_income                               89
income_type                                 84
company_enter_month                     162262
employment_type                             84
houseown_type                               84
desired_amount                              84
purpose                                     84
personal_rehabilitation_yn              562629
personal_rehabilitation_complete_yn    1157852
existing_loan_cnt                       160134
existing_loan_amt                       274256
dtype: int64

In [45]:
l = [loan_result[loan_result["application_id"] == application_id_data]["is_applied"].sum() \
     for application_id_data in user_spec[user_spec["credit_score"].isnull()]["application_id"].unique()]

In [47]:
sum(l)

31587.0

### 1.5. yearly_income, income_type, employment_type, houseown_type ,  desired_amount  , purpose 결측치 제거

- 이것들은 소수이기도하고 오히려 노이즈처럼 보일듯
- yearly_income에서 제거하면 나머지도 다 제거됨

In [52]:
pd.set_option('display.max_row', 500)

In [57]:
user_spec[~user_spec["yearly_income"].isnull()].isna().sum()

user_id                                      0
application_id                               0
birth_year                                   0
gender                                       0
insert_time                                  0
credit_score                             55885
yearly_income                                0
income_type                                  0
company_enter_month                     162174
employment_type                              0
houseown_type                                0
desired_amount                               0
purpose                                      0
personal_rehabilitation_yn              562545
personal_rehabilitation_complete_yn    1157768
existing_loan_cnt                       160118
existing_loan_amt                       274234
dtype: int64

In [ ]:
user_spec = user_spec[~user_spec["yearly_income"].isnull()]

### 1.6 company_enter_month

- 근속년수를 파악할 수 있는 중요한 도구니깐.. 컬럼을 제거하면 안됨.
- 그런데 이걸 추정할 수 있는 마땅한 방법이 없음... 대체적으로 프리랜서인경우가 이거에 속할텐데 어떻게 해야할지 고민해야함
- company_enter_month 값들은 모두 0으로 바꾸고, 근속년수를 계산하기

In [79]:
user_spec.loc[user_spec['company_enter_month'] != user_spec['company_enter_month'], 'company_enter_month'] = "000000"

/tmp/ipykernel_25170/1304192111.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_spec.loc[user_spec['company_enter_month'] != user_spec['company_enter_month'], 'company_enter_month'] = "000000"

In [85]:
user_spec['company_enter_month'] = user_spec['company_enter_month'].astype(int).astype(str)

/tmp/ipykernel_25170/480003805.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_spec['company_enter_month'] = user_spec['company_enter_month'].astype(int).astype(str)

In [90]:
user_spec["company_enter_month"] = 202206-user_spec["company_enter_month"].str[:6].astype(int)

/tmp/ipykernel_25170/119620894.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_spec["company_enter_month"] = 202206-user_spec["company_enter_month"].str[:6].astype(int)

In [92]:
user_spec.loc[user_spec['company_enter_month'] == 202206, 'company_enter_month'] = 0

In [94]:
user_spec.isna().sum()

user_id                                      0
application_id                               0
birth_year                                   0
gender                                       0
insert_time                                  0
credit_score                             55885
yearly_income                                0
income_type                                  0
company_enter_month                          0
employment_type                              0
houseown_type                                0
desired_amount                               0
purpose                                      0
personal_rehabilitation_yn              562545
personal_rehabilitation_complete_yn    1157768
existing_loan_cnt                       160118
existing_loan_amt                       274234
dtype: int64

### 1.7 personal_rehabilitation_yn, personal_rehabilitation_complete_yn

- personal_rehabilitation_yn (개인회상자여부) : 매우중요한 변수일듯
- Rule based로 결측치를 추정하는게 좋을듯?
- 그러나, personal_rehabilitation_complete_yn 이 컬럼은 제거하는게 맞는것 같음
- 생각보다 이 컬럼을 추정하는게 쉽지않은듯 비율도 적고... 일단 삭제

In [125]:
user_spec = user_spec.drop(["personal_rehabilitation_yn", "personal_rehabilitation_complete_yn"], axis = 1)

### 1.8. existing_loan_cnt, existing_loan_amt

In [126]:
user_spec.isna().sum()

user_id                     0
application_id              0
birth_year                  0
gender                      0
insert_time                 0
credit_score            55885
yearly_income               0
income_type                 0
company_enter_month         0
employment_type             0
houseown_type               0
desired_amount              0
purpose                     0
existing_loan_cnt      160118
existing_loan_amt      274234
dtype: int64

In [134]:
user_spec.loc[user_spec['existing_loan_cnt'] != user_spec['existing_loan_cnt'], 'existing_loan_cnt'] = 0

In [139]:
user_spec.loc[user_spec['existing_loan_amt'] != user_spec['existing_loan_amt'], 'existing_loan_amt'] = 0

In [141]:
user_spec.isna().sum()

user_id                    0
application_id             0
birth_year                 0
gender                     0
insert_time                0
credit_score           55885
yearly_income              0
income_type                0
company_enter_month        0
employment_type            0
houseown_type              0
desired_amount             0
purpose                    0
existing_loan_cnt          0
existing_loan_amt          0
dtype: int64

### 1.9 Credit Score 다시생각해보기 - 일단제거

In [149]:
user_spec.loc[user_spec['purpose'] == "SWITCHLOAN", 'purpose'] = "대환대출"
user_spec.loc[user_spec['purpose'] == "LIVING", 'purpose'] = "생활비"
user_spec.loc[user_spec['purpose'] == "ETC", 'purpose'] = "기타"
user_spec.loc[user_spec['purpose'] == "BUYCAR", 'purpose'] = "자동차구입"
user_spec.loc[user_spec['purpose'] == "BUSINESS", 'purpose'] = "사업자금"
user_spec.loc[user_spec['purpose'] == "HOUSEDEPOSIT", 'purpose'] = "전월세보증금"
user_spec.loc[user_spec['purpose'] == "INVEST", 'purpose'] = "투자"
user_spec.loc[user_spec['purpose'] == "BUYHOUSE", 'purpose'] = "주택구입"

In [152]:
user_spec["income_type"].unique()

array(['OTHERINCOME', 'EARNEDINCOME2', 'EARNEDINCOME', 'FREELANCER',
       'PRIVATEBUSINESS', 'PRACTITIONER'], dtype=object)

In [154]:
user_spec = user_spec[~user_spec["credit_score"].isnull()]

### Data Merge

In [184]:
full_data = loan_result.merge(user_spec)

In [163]:
from sklearn.model_selection import train_test_split

In [185]:
train, val = train_test_split(full_data, test_size=0.20,   random_state=20205289,  stratify=full_data['is_applied'])

In [195]:
train, test = train_test_split(train, test_size=0.125,   random_state=20205289,  stratify=train['is_applied'])

In [200]:
train.to_csv("./prepro_data/train.csv", index = False)
val.to_csv("./prepro_data/val.csv", index = False)
test.to_csv("./prepro_data/test.csv", index = False)