In [1]:
import pandas as pd
import numpy as np

In [2]:
loan_result = pd.read_csv("./data/loan_result.csv")
log_data = pd.read_csv("./data/log_data.csv")
user_spec = pd.read_csv("./data/user_spec.csv")

In [3]:
#test = loan_result[loan_result["loanapply_insert_time"] >= "2022-06-01 00:00:00"]
#loan_result = loan_result[loan_result["loanapply_insert_time"] < "2022-06-01 00:00:00"]

### Step 1. Merge Dataset 

- 1. Drop columns : [personal_rehabilitation_yn , personal_rehabilitation_complete_yn ]
    - 위 컬럼들은 애초에 결측치가 너무 많고 추정하기가 쉽지않음.

In [4]:
loan_result.merge(user_spec).isna().sum()

application_id                                0
loanapply_insert_time                         0
bank_id                                       0
product_id                                    0
loan_limit                                 7382
loan_rate                                  7382
is_applied                              3257239
user_id                                       0
birth_year                               128096
gender                                   128096
insert_time                                   0
credit_score                            1509276
yearly_income                                 6
income_type                                   0
company_enter_month                      400337
employment_type                               0
houseown_type                                 0
desired_amount                                0
purpose                                       0
personal_rehabilitation_yn              5888701
personal_rehabilitation_complete_yn    11793977
existing_loan_cnt                       2685709
existing_loan_amt                       3890163
dtype: int64

In [5]:
#test = test.merge(user_spec)
loan_result = loan_result.merge(user_spec)

In [6]:
#test = test.drop(["personal_rehabilitation_yn" , "personal_rehabilitation_complete_yn" ], axis = 1)
loan_result = loan_result.drop(["personal_rehabilitation_yn" , "personal_rehabilitation_complete_yn" ], axis = 1)

### Step 2. Imputation

- loan_limit이 nan이면 loan_rate 역시 nan임
- 이 결측치들은 각 application_id의 평균값으로 대체

In [7]:
unique_loan = loan_result[loan_result['loan_limit'].isnull()]["application_id"].unique()

for i in range(len(unique_loan)):
    mean = loan_result[loan_result["application_id"] == unique_loan[i]].loc[:,"loan_limit"].dropna().mean()
    loan_result.loc[loan_result[loan_result["application_id"] == unique_loan[i]].loc[:,"loan_limit"].fillna( mean).index, "loan_limit"] = loan_result[loan_result["application_id"] == unique_loan[i]].loc[:,"loan_limit"].fillna( mean)

In [8]:
unique_loan = loan_result[loan_result['loan_rate'].isnull()]["application_id"].unique()

for i in range(len(unique_loan)):
    mean = loan_result[loan_result["application_id"] == unique_loan[i]].loc[:,"loan_rate"].dropna().mean()
    loan_result.loc[loan_result[loan_result["application_id"] == unique_loan[i]].loc[:,"loan_rate"].fillna( mean).index, "loan_rate"] = loan_result[loan_result["application_id"] == unique_loan[i]].loc[:,"loan_rate"].fillna( mean)

In [9]:
loan_result.isna().sum()

application_id                 0
loanapply_insert_time          0
bank_id                        0
product_id                     0
loan_limit                    26
loan_rate                     26
is_applied               3257239
user_id                        0
birth_year                128096
gender                    128096
insert_time                    0
credit_score             1509276
yearly_income                  6
income_type                    0
company_enter_month       400337
employment_type                0
houseown_type                  0
desired_amount                 0
purpose                        0
existing_loan_cnt        2685709
existing_loan_amt        3890163
dtype: int64

### 2-1 결측치 추정

#### 1.1 Birty_year & Gender 결측치 추정
- 기존에 있으면 이걸로 대체 (이건 전부 결측치임)

In [10]:
birth_data = loan_result[loan_result['birth_year'].isnull()]["application_id"].unique()

In [33]:
for i in range(len(birth_data)):
    mean = loan_result[loan_result["application_id"] == birth_data[i]].loc[:,"birth_year"].dropna().mean()
    loan_result.loc[loan_result[loan_result["application_id"] == birth_data[i]].loc[:,"birth_year"].fillna( mean).index, "birth_year"] = loan_result[loan_result["application_id"] == birth_data[i]].loc[:,"birth_year"].fillna(mean)

In [34]:
gender_data = loan_result[loan_result['gender'].isnull()]["application_id"].unique()

In [35]:
for i in range(len(gender_data)):
    mean = loan_result[loan_result["application_id"] == gender_data[i]].loc[:,"gender"].dropna().mean()
    loan_result.loc[loan_result[loan_result["application_id"] == gender_data[i]].loc[:,"gender"].fillna( mean).index, "gender"] = loan_result[loan_result["application_id"] == gender_data[i]].loc[:,"gender"].fillna(mean)

In [36]:
loan_result.isna().sum()

application_id                 0
loanapply_insert_time          0
bank_id                        0
product_id                     0
loan_limit                    26
loan_rate                     26
is_applied               3257239
user_id                        0
birth_year                128096
gender                    128096
insert_time                    0
credit_score             1509276
yearly_income                  6
income_type                    0
company_enter_month       400337
employment_type                0
houseown_type                  0
desired_amount                 0
purpose                        0
existing_loan_cnt        2685709
existing_loan_amt        3890163
dtype: int64

### 2-1 결측치 추정

#### 1.2 Credit_score 결측치 추정
- 기존에 있으면 이걸로 대체 
- 2022.06월 이후는 다 결측치인가본데..?

In [41]:
credit_data = loan_result[loan_result['credit_score'].isnull()]["application_id"].unique()

In [39]:
for i in range(len(credit_data)):
    mean = loan_result[loan_result["application_id"] == credit_data[i]].loc[:,"credit_score"].dropna().mean()
    loan_result.loc[loan_result[loan_result["application_id"] == credit_data[i]].loc[:,"credit_score"].fillna( mean).index, "credit_score"] = loan_result[loan_result["application_id"] == credit_data[i]].loc[:,"credit_score"].fillna(mean)

In [40]:
loan_result.isna().sum()

application_id                 0
loanapply_insert_time          0
bank_id                        0
product_id                     0
loan_limit                    26
loan_rate                     26
is_applied               3257239
user_id                        0
birth_year                128096
gender                    128096
insert_time                    0
credit_score             1509276
yearly_income                  6
income_type                    0
company_enter_month       400337
employment_type                0
houseown_type                  0
desired_amount                 0
purpose                        0
existing_loan_cnt        2685709
existing_loan_amt        3890163
dtype: int64

### 1.6 company_enter_month

- 근속년수를 파악할 수 있는 중요한 도구니깐.. 컬럼을 제거하면 안됨.
- 그런데 이걸 추정할 수 있는 마땅한 방법이 없음... 대체적으로 프리랜서인경우가 이거에 속할텐데 어떻게 해야할지 고민해야함
- company_enter_month 값들은 모두 0으로 바꾸고, 근속년수를 계산하기

In [77]:
loan_result.loc[loan_result['company_enter_month'] != loan_result['company_enter_month'], 'company_enter_month'] = "000000"

In [78]:
loan_result['company_enter_month'] = loan_result['company_enter_month'].astype(int).astype(str)
loan_result["company_enter_month"] = 202206-loan_result["company_enter_month"].str[:6].astype(int)

In [79]:
loan_result.loc[loan_result['company_enter_month'] == 202206, 'company_enter_month'] = 0

In [80]:
loan_result.isna().sum()

application_id                 0
loanapply_insert_time          0
bank_id                        0
product_id                     0
loan_limit                    26
loan_rate                     26
is_applied               3257239
user_id                        0
birth_year                128096
gender                    128096
insert_time                    0
credit_score             1509276
yearly_income                  6
income_type                    0
company_enter_month            0
employment_type                0
houseown_type                  0
desired_amount                 0
purpose                        0
existing_loan_cnt        2685709
existing_loan_amt        3890163
dtype: int64

### 1.8. existing_loan_cnt, existing_loan_amt

In [81]:
loan_result.loc[loan_result['existing_loan_cnt'] != loan_result['existing_loan_cnt'], 'existing_loan_cnt'] = 0

In [82]:
loan_result.loc[loan_result['existing_loan_amt'] != loan_result['existing_loan_amt'], 'existing_loan_amt'] = 0

In [83]:
loan_result.isna().sum()

application_id                 0
loanapply_insert_time          0
bank_id                        0
product_id                     0
loan_limit                    26
loan_rate                     26
is_applied               3257239
user_id                        0
birth_year                128096
gender                    128096
insert_time                    0
credit_score             1509276
yearly_income                  6
income_type                    0
company_enter_month            0
employment_type                0
houseown_type                  0
desired_amount                 0
purpose                        0
existing_loan_cnt              0
existing_loan_amt              0
dtype: int64

### 1.9 Credit Score 다시생각해보기 - 일단제거

In [84]:
loan_result.loc[loan_result['purpose'] == "SWITCHLOAN", 'purpose'] = "대환대출"
loan_result.loc[loan_result['purpose'] == "LIVING", 'purpose'] = "생활비"
loan_result.loc[loan_result['purpose'] == "ETC", 'purpose'] = "기타"
loan_result.loc[loan_result['purpose'] == "BUYCAR", 'purpose'] = "자동차구입"
loan_result.loc[loan_result['purpose'] == "BUSINESS", 'purpose'] = "사업자금"
loan_result.loc[loan_result['purpose'] == "HOUSEDEPOSIT", 'purpose'] = "전월세보증금"
loan_result.loc[loan_result['purpose'] == "INVEST", 'purpose'] = "투자"
loan_result.loc[loan_result['purpose'] == "BUYHOUSE", 'purpose'] = "주택구입"

In [86]:
loan_result["income_type"].unique()

array(['EARNEDINCOME', 'FREELANCER', 'PRIVATEBUSINESS', 'OTHERINCOME',
       'EARNEDINCOME2', 'PRACTITIONER'], dtype=object)

### Data Merge

In [89]:
test = loan_result[loan_result["loanapply_insert_time"] >= "2022-06-01 00:00:00"]
loan_result = loan_result[loan_result["loanapply_insert_time"] < "2022-06-01 00:00:00"]

In [91]:
test.to_csv("./prepro_data/submit_test.csv", index = False)

In [92]:
loan_result.to_csv("./prepro_data/full_data.csv", index = False)